* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #161616;
  color: whitesmoke;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.square {
  width: 400px;
  height: 400px;
  border: 1px solid whitesmoke;
  border-radius: 0.25rem;
  display: grid;
  place-content: center;
  margin: 1rem 0;
}

.square p {
  text-align: center;
  font-size: 1.3rem;
}

form {
  width: 400px;
}

label {
  position: absolute;
  left: -99999px;
}

input[type="text"] {
  margin-top: 0.5rem;
  padding: 0.5rem;
  width: 100%;
  font-size: 1rem;
  border-radius: 0.25rem;
  outline: none;
  border: none;
  text-indent: 8px;
  font-family: monospace;
  background-color: #161616;
  color: whitesmoke;
  border: 1px solid whitesmoke;
}

button {
  width: 100%;
  min-height: 48px;
  margin-top: 0.5rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  padding: 0.25rem;
  background-color: darkviolet;
  color: #fff;
}
